* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

body {
  background: linear-gradient(90deg, white);
}

/* .text {
  position: relative;
  top: 10%; 
  right: 50%;
  transform: translate(50%,-50%);
  text-transform: uppercase;
  font-family: verdana;
  font-size: 7em;
  font-weight: 600;
  color: rgb(11, 15, 130);
  text-shadow: 1px 1px 1px #919191,
      1px 2px 1px #919191,
      1px 3px 1px #919191,
      1px 4px 1px #919191,
      1px 5px 1px #919191,
      1px 6px 1px #919191,
      1px 7px 1px #919191,
      1px 8px 1px #919191,
      1px 9px 1px #919191,
      1px 10px 1px #919191,
  1px 18px 6px rgba(16,16,16,0.4),
  1px 22px 10px rgba(16,16,16,0.2),
  1px 25px 35px rgba(16,16,16,0.2),
  1px 30px 60px rgba(16,16,16,0.4);
} */

.todo-app {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 1200px;
  min-height: 600px;
  background: #313234;
  text-align: center;
  margin: 50px auto;
  border-radius: 10px;
  padding-bottom: 32px;
  position: relative;
}

h1 {
  margin: 32px 0;
  color: #fff;
  font-size: 24px;
}

.complete {
  text-decoration: line-through;
  opacity: 0.4;
}

.todo-form {
  margin-bottom: 32px;
  position: relative;
}

.todo-input {
  padding: 14px 32px 14px 16px;
  border-radius: 4px 0 0 4px;
  border: 2px solid #00a952;
  outline: none;
  width: 320px;
  background: transparent;
  color: #fff;
}

.todo-input::placeholder {
  color: #e2e2e2;
}

.todo-button {
  padding: 16px;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  outline: none;
  background: linear-gradient(90deg, rgb(1, 177, 110) 0%, rgb(0, 163, 95) 100%);
  color: #fff;
  text-transform: capitalize;
}

.todo-container {
  display: flex;
  flex-direction: row;
  position: relative;
}

.todo-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px auto;
  color: #fff;
  background: linear-gradient(90deg, rgb(1, 177, 110) 0%, rgb(0, 163, 95) 100%);

  padding: 16px;
  border-radius: 5px;
  width: 90%;
}

.icons {
  display: flex;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
}

.edit-icon {
  color: #fff;
}
.delete-icon {
  margin-right: 5px;
  color: #fff;
}

.todo-link {
  width: 150px;
  padding: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  outline: none;
  background: linear-gradient(90deg, rgb(1, 177, 110) 0%, rgb(0, 163, 95) 100%);
  color: #fff;
  text-transform: capitalize;
}

.note-link {
  display: flex;
  justify-content: center;
  bottom: 40px;
  left: 50%;
  margin-top: 15px;
}
